.vehicle-notification-item {

  .vehicle-notification-title {
    font-size: 0.875rem;
  }

  .vehicle-notification-body {

    .vehicle-notification-text {
      margin: 5px 0;
    }

    .vehicle-notification-time {
      font-size: 0.750rem;
    }
  }
}