{% extends 'base.html.twig' %}

{% block body %}

    {% block header %}
        {% include 'header.html.twig' %}
    {% endblock %}

    {% block sidebar %}
        {% include 'sidebar.html.twig' %}
    {% endblock %}

    {% block main %}
        <main class="content-wrapper">
            {% for message in app.flashes('success') %}
                <p class="notification success">
                    {{ message }}
                </p>
            {% endfor %}

            {% for message in app.flashes('error') %}
                <p class="notification error">
                    {{ message }}
                </p>
            {% endfor %}

            {% block content %}{% endblock %}
        </main>
    {% endblock %}

    {% block footer %}
        {% include 'footer.html.twig' %}
    {% endblock %}
{% endblock %}