<aside class="main-sidebar sidebar-light-white vehicle-sidebar">
    <a href="index3.html" class="brand-link vehicle-sidebar-brand-link">
        <img class="img-fluid" alt="Vehicle" src="{{ asset('build/images/logo.png') }}">
    </a>

    <div class="sidebar vehicle-sidebar-content">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex vehicle-user-panel">
            <div class="image vehicle-user-image">
                <img src="{{ asset('build/images/user2-160x160.jpg') }}" class="img-circle" alt="User Image">
            </div>
            <div class="info vehicle-user-info">
                <a href="#" class="d-block" data-toggle="dropdown">Rafał Głuszak</a>
            </div>
        </div>

        <nav class="mt-2 vehicle-sidebar-nav">
            {{ knp_menu_render('sidebar', {'template': 'Menu/sidebar.html.twig'}) }}
        </nav>
    </div>
</aside>