<aside class="main-sidebar sidebar-light-white vehicle-sidebar">
    <a href="index3.html" class="brand-link vehicle-sidebar-brand-link">
        <img class="img-fluid" alt="Vehicle" src="{{ asset('build/images/logo.png') }}">
    </a>

    <div class="sidebar vehicle-sidebar-content">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex vehicle-user-panel">
            <div class="image vehicle-user-image">
                <img src="{{ asset('build/images/user2-160x160.jpg') }}" class="img-circle" alt="User Image">
            </div>
            <div class="info vehicle-user-info">
                <a href="#" class="d-block" data-toggle="dropdown">Rafał Głuszak</a>
            </div>
        </div>

        <nav class="mt-2 vehicle-sidebar-nav">
            <ul class="nav nav-pills nav-sidebar flex-column vehicle-navbar-list" data-widget="treeview" role="menu">
                <li class="nav-item has-treeview menu-open vehicle-navbar-item">
                    <a href="#" class="nav-link active vehicle-navbar-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p class="vehicle-navbar-link-title">
                            Starter Pages
                            <i class="right fas fa-angle-left vehicle-navbar-dropdown-icon"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item vehicle-navbar-item">
                            <a href="#" class="nav-link active vehicle-navbar-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p class="vehicle-navbar-link-title">Active Page</p>
                            </a>
                        </li>
                        <li class="nav-item vehicle-navbar-item">
                            <a href="#" class="nav-link vehicle-navbar-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p class="vehicle-navbar-link-title">Inactive Page</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item vehicle-navbar-item">
                    <a href="#" class="nav-link vehicle-navbar-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p class="vehicle-navbar-link-title">
                            Simple Link
                            <span class="right badge badge-danger">New</span>
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>